mixin box-actions(link)
  div(
    class="input-group" 
    box-actions=link
  )
    select(class="custom-select")
      option(value='') Select...
      option(value='active') Active
      option(value='inactive') Inactive
      option(value='delete') Delete
    .input-group-append
      button(
        class="btn btn-outline-secondary"
        type='button'
      ) Apply