<<<<<<< HEAD
mixin select-tree(items, level = 1,id="")
=======
mixin select-tree(items, level = 1, id = "")
>>>>>>> 0c12e5ff906cca25525b47f093f43feef0903ea1
  each item in items
    - const prefix = Array(level+1).join("--");
    option(
      value=item.id
      selected=(item.id == id ? true : false)
    ) #{prefix} #{item.title}
    if(item.children)
      +select-tree(item.children, level + 1,id)