header.header
    .container-fluid
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href=`/${prefixAdmin}/dashboard`) ADMIN
            .col-9
                //- Add additional header content here if needed
