.sider
    .inner-menu
        ul
            li
                a(href=`/${prefixAdmin}/dashboard`) GENERAL
            li
                a(href=`/${prefixAdmin}/products`) PRODUCTS
            li
                a(href=`/${prefixAdmin}/products-category`) CATEGORIES
